{% extends "base.html" %}
{% load static %}
{% block title %}Topic: {{ topic.name }}{% endblock %}
{% block content %}
<div class="content">
    <h2>Topic: {{ topic.name }}</h2>
    <p>Creator: {{ topic.creator.username }}</p>
    <p>Partitions: {{ topic.partitions }}</p>
    <p>Active: {{ topic.is_active }}</p>
    {% if user.is_superuser %}
        <form action="{% url 'create_partition' topic.name %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn-blue">Add Partition</button>
        </form>
        <form action="{% url 'delete_partition' topic.name %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn-decline">Remove Partition</button>
        </form>
    {% endif %}
</div>
{% endblock %}